<!-- <h1>Hello World!</h1>
<app-rooms></app-rooms>

<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>Hello from ng-content</h1>
</app-container> -->

<!-- <div #name></div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'user'">
    You are a user
  </div>
  <div *ngSwitchCase="'admin'">
    You are a admin
  </div>
  <div *ngSwitchDefault>
    Unsupported role
  </div>
</div>
<div>
  <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a> -->
<!-- <a [routerLink]="'employee'">Employee</a> -->
<app-app-nav></app-app-nav>
<!-- <router-outlet></router-outlet> -->
